body {
  background-color: black;
}

svg {
  background-color: black;
  overflow: visible;
}

.axis path, .tick line {
  stroke: #00FF00;
  stroke-width: 2;
}

.trace text {
  font-family: 'Orbitron', sans-serif;
  stroke: #00FF00;
  fill: #00FF00;
}

.trace-series {
  stroke-width: 1;
  stroke: #00FF00;
}

path.scaffolding {
  stroke: #00FF00;
}

.mode-choice path.mode-choice-bkg {
  fill: #1B4D3E;
}

.mode-choice.selected path.mode-choice-bkg {
  fill: #0000FF;
}

.mode-choice text {
  font-family: 'Orbitron', sans-serif;
  text-anchor: middle;
  font-size: 30px;
  fill: #00FF00;
}
