body {
  background-color: black;
}

svg {
  background-color: black;
  overflow: visible;
}

.trace text{
    color:#00FF00;
}

.axis path,.axis .tick line {
  stroke: #00FF00;
  stroke-width: 2;
}

.ml_axis path, .ml_axis .tick line{
  stroke: #FF0000;
  stroke-width: 2;
}

 .ml_prob text, text.ml_prob {
  font-family: 'Orbitron', sans-serif;
  stroke: #FF0000;
  fill: #FF0000;
}


.trace text, .prob text, text.prob{
  font-family: 'Orbitron', sans-serif;
  stroke: #00FF00;
  fill: #00FF00;
}

.trace-series {
  stroke-width: 1;
  stroke: #00FF00;
  fill: None;
}

.prob-series.nu {
  stroke-width: 2;
  stroke: #00FF00;
  fill: None;
}

.prob-series.nutrue {
  stroke-width: 2;
  stroke: #FF0000;
  fill: None;
}



.ml_prob-series.nu {
  stroke-width: 2;
  stroke: #00FFFF;
  fill: None;
}

.ml_prob-series.nutrue {
  stroke-width: 2;
  stroke: #FF00FF;
  fill: None;
}



text.ticker {
  font-family: 'Orbitron', sans-serif;
  text-anchor: left;
  font-size: 15px;
  fill: #00FF00;
}

path.scaffolding {
  stroke: #00FF00;
}

path.ml_scaffolding{
    stroke: #FF0000;
}

.flvtripoint.nue {
  stroke: #0000FF;
  fill: #0000FF;
}

.flvtripoint.nueb {
  stroke: #FF0000;
  fill: #FF0000;
}

.flvtripoint.numu {
  stroke: #00FF00;
  fill: #00FF00;
}

path.nutau {
  stroke: #FF00FF;
  fill: #FF00FF;
}

path.nue {
  stroke: #0000FF;
  fill: #0000FF;
}

.flvtripoint.nutau {
  stroke: #FF00FF;
  fill: #FF00FF;
}

.travel_counter {
  text-anchor: left;
}

.mode-choice path.mode-choice-bkg {
  fill: #1B4D3E;
}

.mode-choice.selected path.mode-choice-bkg {
  fill: #0000FF;
}

.mode-choice text {
  font-family: 'Orbitron', sans-serif;
  text-anchor: middle;
  fill: #00FF00;
}

table{
  font-family: 'Orbitron', sans-serif;
  text-anchor: middle;
  margin-left: auto;
  margin-right: auto;
  color:#00FF00
}

.lb{
  font-family: 'Orbitron', sans-serif;
  text-anchor: middle;
  margin-left: auto;
  margin-right: auto;
  color:#00FF00;
  text-align: center;
 }
 
td, th{
  margin:40px;
  padding-right:40px;
  text-align:left;
}

.ui-dialog{
    font-family: 'Orbitron', sans-serif;
    text-anchor: middle;
    background-color:black;
    color:#00FF00;
    padding:20px;
    border:4px solid #00FF00;
    
}

.ui-dialog input{
    font-family: 'Orbitron', sans-serif;
    text-anchor: middle;
    background-color:black;
    color:#00FF00;
    border:2px solid #00FF00;
    margin:4px;
}

.ui-button{
    font-family: 'Orbitron', sans-serif;
    text-anchor: middle;
    background-color:black;
    color:#00FF00;
    margin:4px;
    border:4px solid #00FF00;
}

#dialog button{
    background-color:black;
}
