body {
  background-color: black;
}

svg {
  background-color: black;
  overflow: visible;
}

.axis path, .tick line {
  stroke: #00FF00;
  stroke-width: 2;
}

.trace text, .prob text, .ml_prob text, text.ml_prob {
  font-family: 'Orbitron', sans-serif;
  stroke: #00FF00;
  fill: #00FF00;
}

.trace-series {
  stroke-width: 1;
  stroke: #00FF00;
  fill: None;
}

.prob-series.nu {
  stroke-width: 2;
  stroke: #00FF00;
  fill: None;
}

.prob-series.nutrue {
  stroke-width: 2;
  stroke: #FF0000;
  fill: None;
}



.ml_prob-series.nu {
  stroke-width: 2;
  stroke: #00FFFF;
  fill: None;
}

.ml_prob-series.nutrue {
  stroke-width: 2;
  stroke: #FF00FF;
  fill: None;
}



text.ticker {
  font-family: 'Orbitron', sans-serif;
  text-anchor: left;
  font-size: 15px;
  fill: #00FF00;
}

path.scaffolding {
  stroke: #00FF00;
}

.flvtripoint.nue {
  stroke: #0000FF;
  fill: #0000FF;
}

.flvtripoint.nueb {
  stroke: #FF0000;
  fill: #FF0000;
}

.flvtripoint.numu {
  stroke: #00FF00;
  fill: #00FF00;
}

path.nutau {
  stroke: #FF00FF;
  fill: #FF00FF;
}

path.nue {
  stroke: #0000FF;
  fill: #0000FF;
}

.flvtripoint.nutau {
  stroke: #FF00FF;
  fill: #FF00FF;
}

.travel_counter {
  text-anchor: left;
}

.mode-choice path.mode-choice-bkg {
  fill: #1B4D3E;
}

.mode-choice.selected path.mode-choice-bkg {
  fill: #0000FF;
}

.mode-choice text {
  font-family: 'Orbitron', sans-serif;
  text-anchor: middle;
  fill: #00FF00;
}
